# Backend Base URL
# Examples:
# BACKEND_BASE_URL=backend-yaqeen.uz
# BACKEND_BASE_URL=https://backend-yaqeen.uz/api/v1
# BACKEND_BASE_URL=http://localhost:3000/api/v1

BACKEND_BASE_URL=backend-yaqeen.uz
VITE_BACKEND_BASE_URL=backend-yaqeen.uz
